@page "/booking"
@inject OwnerApiService OwnerApiService
@inject PetApiService PetApiService
@inject VisitApiService VisitApiService
@using VeterinaryJournalSystem.Client.Services
@using VeterinaryJournalSystem.Client.Components.Booking

<div class="booking-page">
  

    @if (!showCreateOwnerForm && !showCreatePetForm && !showCreateVisitForm && !showUpdateOwnerForm)
    {
        <h1>Tidsbokning</h1>
        <p>Sök först efter djurägaren med personnummer.</p>
        <div class="booking-card">
            <label>Personnummer</label>
            <input @bind="personalNumber" placeholder="XXXXXX-XXXX" />

            <button @onclick="SearchOwner">Sök ägare</button>

            @if (!string.IsNullOrEmpty(message))
            {
                <p>@message</p>
            }
        </div>

        @if (foundOwner != null)
        {
            <div class="booking-card">
                <h4>Ägare: @foundOwner.FullName</h4>
                <p>Telefonnummer: @foundOwner.PhoneNumber</p>
                <p>Personnummer: @foundOwner.PersonalNumber</p>
                <p>Notering @foundOwner.Comment</p>


                <button @onclick="ShowUpdateOwnerForm">
                    Uppdatera ägar information
                </button>

                <h4>Husdjur:</h4>

                @if (ownerPets.Any())
                {
                    @foreach (var pet in ownerPets)
                    {

                        <h4>Namn: @pet.Name</h4>
                        <p> Art: @pet.Species </p>
                        <p>Ras: @pet.Breed </p>
                        <p>Född: @pet.DateOfBirth.ToString("yyyy-MM-dd")</p>
                        <p>
                            Försäkrad:
                            @(pet.IsInsured ? "✅" : "➖")
                        </p>
                        <button @onclick="() => ShowCreateVisitForm(pet)">
                            Boka tid
                        </button>
                        <button @onclick="() => DeletePet(pet.Id)">
                            Ta bort
                        </button>
                    }
                }
                else
                {
                    <p>Inga djur registrerade.</p>
                }

                <button @onclick="() => showCreatePetForm = true">
                    Lägg till husdjur
                </button>
            </div>
        }
        else if (searched)
        {
            <div class="booking-card">
                <button @onclick="ShowCreateOwnerForm">
                    Skapa ny ägare
                </button>
            </div>
        }
    }

    @if (showCreateOwnerForm)
    {
        <CreateOwnerForm PersonalNumber="@personalNumber"
                         OnCreate="CreateOwnerFromComponent"
                         OnCancel="BackToSearch" />
    }

    @if (showCreatePetForm && foundOwner != null)
    {
        <CreatePetForm OwnerId="@foundOwner.Id"
                       OnCreate="CreatePetFromComponent"
                       OnCancel="BackToOwner" />
    }

    @if (showUpdateOwnerForm && foundOwner != null)
    {
      <UpdateOwnerForm
            Owner="foundOwner"
            OnUpdate="UpdateOwnerFromComponent"
            OnCancel="BackToOwnerFromUpdate" />
    }

    @if (showCreateVisitForm && selectedPet != null)
    {
        <CreateVisitForm Pet="selectedPet"
                         OnCreate="CreateVisitFromComponent"
                         OnCancel="BackToOwnerFromVisit" />
    }

</div>


@code {
    private string personalNumber = string.Empty;
    private string message = string.Empty;

    private OwnerDto? foundOwner;
    private bool searched = false;

    private bool showCreateOwnerForm = false;
    private bool showCreatePetForm = false;

    private List<PetDto> ownerPets = new();


  

    private async Task SearchOwner()
    {
        searched = true;
        showCreateOwnerForm = false;
        showCreatePetForm = false;
        message = string.Empty;
        ownerPets.Clear();

        foundOwner = await OwnerApiService.SearchOwnerByPersonalNumberAsync(personalNumber);

        if (foundOwner == null)
        {
            message = "Ingen ägare hittades. Du kan skapa en ny ägare.";
            return;
        }

        ownerPets = await PetApiService.GetPetsByOwnerIdAsync(foundOwner.Id);
    }

    private void ShowCreateOwnerForm()
    {
        showCreateOwnerForm = true;
        showCreatePetForm = false;
        message = string.Empty;
    }

    private void BackToSearch()
    {
        showCreateOwnerForm = false;
    }



    private async Task CreateOwnerFromComponent(CreateOwnerRequest request)
    {
        var createdOwner = await OwnerApiService.CreateOwnerAsync(request);

        if (createdOwner == null)
        {
            message = "Kunde inte skapa ägare.";
            return;
        }

        foundOwner = createdOwner;
        ownerPets = await PetApiService.GetPetsByOwnerIdAsync(foundOwner.Id);
        showCreateOwnerForm = false;
        searched = true;
        message = "Ägare skapad.";
    }

    private async Task UpdateOwnerFromComponent(UpdateOwnerRequest request)
    {
        if (foundOwner == null)
        {
            message = "Ingen ägare vald.";
            return;
        }

        var updatedOwner = await OwnerApiService.UpdateOwnerAsync(foundOwner.Id, request);

        if (updatedOwner == null)
        {
            message = "Kunde inte uppdatera ägare.";
            return;
        }

        foundOwner = updatedOwner;
        showUpdateOwnerForm = false;
        message = "Ägaren uppdaterades.";
    }

    private async Task CreatePetFromComponent(CreatePetRequest request)
    {
        var createdPet = await PetApiService.CreatePetAsync(request);

        if (createdPet == null)
        {
            message = "Kunde inte skapa husdjur.";
            return;
        }

        ownerPets.Add(createdPet);

        showCreatePetForm = false;
        message = "Husdjuret skapades.";
    }

    private void BackToOwnerFromUpdate()
    {
        showUpdateOwnerForm = false;
    }

    
    private void BackToOwner()
    {
        showCreatePetForm = false;
    }

    private bool showCreateVisitForm = false;
    private PetDto? selectedPet;


    private void ShowCreateVisitForm(PetDto pet)
    {
        selectedPet = pet;
        showCreateVisitForm = true;
        showCreatePetForm = false;
        message = string.Empty;
    }

    private async Task CreateVisitFromComponent(CreateVisitRequest request)
    {
        var createdVisit = await VisitApiService.CreateVisitAsync(request);

        if (createdVisit == null)
        {
            message = "Kunde inte boka besök.";
            return;
        }

        showCreateVisitForm = false;
        selectedPet = null;
        message = "Besöket bokades.";
    }

    private void BackToOwnerFromVisit()
    {
        showCreateVisitForm = false;
        selectedPet = null;
    }

   

    private async Task DeletePet(string petId)
    {
        var deleted = await PetApiService.DeletePetAsync(petId);

        if (!deleted)
        {
            message = "Kunde inte ta bort husdjuret.";
            return;
        }

        var petToRemove = ownerPets.FirstOrDefault(p => p.Id == petId);

        if (petToRemove != null)
        {
            ownerPets.Remove(petToRemove);
        }

        message = "Husdjuret har tagits bort.";
    }

    private bool showUpdateOwnerForm = false;



    private void ShowUpdateOwnerForm()
    {
        showUpdateOwnerForm = true;
        showCreateOwnerForm = false;
        showCreatePetForm = false;
        showCreateVisitForm = false;
        message = string.Empty;

    }

    
}